In [1]:
import sys
import pandas as pd

In [2]:
df = pd.read_csv('GV_Model_ASIN.txt', sep='\t')

In [3]:
df.shape

(77702, 15)

In [4]:
df.head()

,ASIN,oct15_count,nov15_count,dec15_count,jan16_count,feb16_count,mar16_count,apr16_count,may16_count,jun16_count,jul16_count,aug16_count,sep16_count,oct16_count,total_count
0,B003LSM9QQ,14,3,7,2,19,7,2,2,17,15,12,12,36,148
1,B00L4S0XR2,11,21,8,12,5,22,9,18,7,10,2,2,5,132
2,B016CUXPG2,65,27,27,8,11,9,11,2,9,19,52,52,24,316
3,B00URAYTHI,1,1,6,2,6,17,7,3,10,20,15,15,7,110
4,B0085X62Z6,33,30,18,24,30,45,36,59,52,30,30,30,14,431

In [5]:
df150 = df[df.total_count >= 150]

In [6]:
df150.shape

(36544, 15)

In [7]:
df150 = df150[df150.oct16_count != 0]

In [8]:
df150 = df150.reset_index(drop=True)

In [9]:
df150 = df150.T

In [10]:
df150.head(20)

,0,1,2,3,4,5,6,7,8,9,...,33514,33515,33516,33517,33518,33519,33520,33521,33522,33523
ASIN,B016CUXPG2,B0085X62Z6,B00FNKMVUO,B00KGET2MW,B00004SQPD,B0089L0M2S,B00MQYQSUO,B014RATZIQ,B00UKJEB06,B004P5W81A,...,B01F60SJ88,B0182T5WRQ,B01HIQJ9X2,B01HDQ78TE,B012R6PNPQ,0545915961,B01D1FWJZE,B0042SUIDA,B01H5LQZR8,B0156VGLWI
oct15_count,65,33,28,1,2,23,5,50,192,16,...,0,0,0,0,0,0,0,0,0,0
nov15_count,27,30,34,4,5,30,2,44,106,6,...,0,0,0,0,0,2,0,1,0,5
dec15_count,27,18,57,1,3,43,7,16,62,0,...,0,27,0,0,27,5,0,4,0,10
jan16_count,8,24,36,3,10,18,9,39,30,6,...,0,34,0,0,11,6,0,0,0,16
feb16_count,11,30,42,1,3,12,63,31,14,16,...,0,6,0,0,22,9,0,10,0,47
mar16_count,9,45,75,2,6,8,54,33,27,19,...,0,30,0,0,14,9,0,6,0,22
apr16_count,11,36,50,3,6,12,16,31,9,11,...,0,19,0,0,19,18,0,3,0,10
may16_count,2,59,87,14,4,9,17,1,7,8,...,4,8,0,0,5,11,5,14,0,15
jun16_count,9,52,46,9,4,9,14,0,4,9,...,36,4,19,0,7,15,73,21,16,14
jul16_count,19,30,131,14,25,23,21,0,10,13,...,23,15,3,233,13,8,40,38,30,17
aug16_count,52,30,106,33,43,28,14,0,11,24,...,37,18,66,112,38,26,27,23,75,5
sep16_count,52,30,106,33,43,28,14,0,11,24,...,37,18,66,112,38,26,27,23,75,5
oct16_count,24,14,82,45,12,13,15,2,12,8,...,20,21,4,25,25,24,52,11,38,54
total_count,316,431,880,163,166,256,251,247,495,160,...,157,200,158,482,219,159,224,154,234,220

In [11]:
df_res = df150[14:15]

In [13]:
df150 = df150[1:14]

In [14]:
df150_copy = df150.copy(deep=True)

In [15]:
df150_copy['time'] = '10/1/2015'

In [16]:
df150_copy.time[1] ='11/1/2015'
df150_copy.time[2] ='12/1/2015'
df150_copy.time[3] ='1/1/2016'
df150_copy.time[4] ='2/1/2016'
df150_copy.time[5] ='3/1/2016'
df150_copy.time[6] ='4/1/2016'
df150_copy.time[7] ='5/1/2016'
df150_copy.time[8] ='6/1/2016'
df150_copy.time[9] ='7/1/2016'
df150_copy.time[10]='8/1/2016'
df150_copy.time[11]='9/1/2016'
df150_copy.time[12]='10/1/2016'

In [17]:
from pandas.tseries.offsets import *
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [18]:
ts_data = pd.Series(df150_copy[0].values, index=pd.to_datetime(df150_copy.time))

In [19]:
ts_data

time
2015-10-01    65
2015-11-01    27
2015-12-01    27
2016-01-01     8
2016-02-01    11
2016-03-01     9
2016-04-01    11
2016-05-01     2
2016-06-01     9
2016-07-01    19
2016-08-01    52
2016-09-01    52
2016-10-01    24
dtype: object

In [20]:
ts_log_data = np.log(ts_data.astype('float64'))

In [21]:
model = sm.tsa.ARMA(ts_log_data, (1,0,1)).fit()

In [22]:
print(model.params)

const      2.955138
ar.L1.y    0.535548
dtype: float64

In [23]:
start_date = ts_log_data.index[-1] + Day(31)
end_date = ts_log_data.index[-1] + Day(180)

In [24]:
y_forecast = model.predict(start_date.isoformat(), end_date.isoformat())

/home/owais/anaconda2/lib/python2.7/site-packages/statsmodels/base/data.py:503: FutureWarning: TimeSeries is deprecated. Please use Series
  return TimeSeries(result, index=self.predict_dates)

In [25]:
print(np.exp(y_forecast))

2016-11-01    21.639494
2016-12-01    20.472300
2017-01-01    19.873319
2017-02-01    19.559775
2017-03-01    19.393897
Freq: MS, dtype: float64

In [26]:
i=0
j=0
k=0
l=0
m=0

In [33]:
for y in range(0, len(df150_copy.columns)):
    try:
        try:
            try:
                try:
                    ts_data = pd.Series(df150_copy[y].values, index=pd.to_datetime(df150_copy.time))
                    ts_log_data = np.log(ts_data.astype('float64'))
                    model =  sm.tsa.ARMA(ts_log_data, (3,0,3)).fit()
                    y_forecast = model.predict(start_date.isoformat(), end_date.isoformat())
                    df_res[y][0] = np.exp(y_forecast)
                    i = i+1
                except:
                    ts_data = pd.Series(df150_copy[y].values, index=pd.to_datetime(df150_copy.time))
                    ts_log_data = np.log(ts_data.astype('float64'))
                    model = sm.tsa.ARMA(ts_log_data, (2,0,2)).fit()
                    y_forecast = model.predict(start_date.isoformat(), end_date.isoformat())
                    df_res[y][0] = np.exp(y_forecast)
                    j = j+1
            except:
                ts_data = pd.Series(df150_copy[y].values, index=pd.to_datetime(df150_copy.time))
                ts_log_data = np.log(ts_data.astype('float64'))
                model = sm.tsa.ARMA(ts_log_data, (1,0,1)).fit()
                y_forecast = model.predict(start_date.isoformat(), end_date.isoformat())
                df_res[y][0] = np.exp(y_forecast)
                k = k+1
        except:
            ts_data = pd.Series(df150_copy[y].values, index=pd.to_datetime(df150_copy.time))
            ts_log_data = np.log(ts_data.astype('float64'))
            model = sm.tsa.ARMA(ts_log_data, (1,0)).fit()
            y_forecast = model.predict(start_date.isoformat(), end_date.isoformat())
            df_res[y][0] = np.exp(y_forecast)
            l = l+1
    except:
        print y

In [35]:
print (i,j,l,m)

(6, 0, 0, 0)

In [36]:
prediction = df_res.T

In [ ]:
prediction.to_csv('ASIN_Predicted_Result.csv', sep=',')